.fields{
	display: inline-block;
}
.field>label{
	display: inline-block;
	width: 70px;
	vertical-align: top;
}
label>span{
	font-size: 11px;
	color: grey;
}
.field>input,.field>select{
	margin: 2px;
	width: 100px;
	box-sizing: border-box;
}
select{
	overflow: hidden;
}
.reset{
	display: inline-block;
	vertical-align: top;
}
.colors{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	user-select: none;
}
.colorContainer{
	padding-left: 0.5em;
	display: inline-block;
	position: relative;
}
.colorContainer.true:before{
	content: "✔️";
	font-size: 0.75em;
	height: 0.75em;
	width: 0.75em;
	position: absolute;
	left: -10px;
}
.colorContainer.false:before{
	content: "❌";
	font-size: 0.75em;
	height: 0.75em;
	width: 0.75em;
	position: absolute;
	left: -10px;
}
.color:before{
	content: "";
	height: 0.75em;
	width: 0.75em;
	display: inline-block;
	border: 1px solid black;
	border-radius: 25%;
	box-sizing: border-box;
	position: relative;
	left: -2px;
}
.red:before{
	background: red;
}
.orange:before{
	background: orange;
}
.yellow:before{
	background: yellow;
}
.green:before{
	background: green;
}
.blue:before{
	background: blue;
}
.maroon:before{
	background: maroon;
}
.white:before{
	background: white;
}
.black:before{
	background: black;
}
.shapes{
	display: inline-block;
	vertical-align: top;
}
.shapes>div{
	display: flex;
	flex-wrap: wrap;
	width: 180px;
}
.shapes img{
	margin: 5px;
}
.shapes img.true{
	background: green;
}
.shapes img.false{
	background: red;
}
.results{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.card{
	position: relative;
	height: 200px;
	width: 200px;
	text-align: center;
	border: 10px lightgrey ridge;
	margin: 2px;
	background: #e8e8e8;
	padding: 0px 5px;
}
.card img{
	max-height: 140px;
	max-width: 200px;
	height: auto;
	width: auto;
}
.card span{
	min-height: 20px;
}
.card .code{
	float: left;
	text-align: left;
	width: 50%;
}
.card .continent{
	float: right;
	text-align: right;
	width: 50%;
}
.card .country{
	font-weight: bold;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	max-height: 40px;
}
