.fields{
	display: inline-block;
}
.field>label{
	display: inline-block;
	width: 70px;
	vertical-align: top;
}
label>span{
	font-size: 11px;
	color: grey;
}
.field>input,.field>select{
	margin: 2px;
}
select{
	overflow: hidden;
}
.colors{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.colorContainer{
	padding-left: 0.5em;
	display: inline-block;
	position: relative;
}
.colorContainer.true:before{
	content: "✔️";
	font-size: 0.75em;
	height: 0.75em;
	width: 0.75em;
	position: absolute;
	left: -10px;
}
.colorContainer.false:before{
	content: "❌";
	font-size: 0.75em;
	height: 0.75em;
	width: 0.75em;
	position: absolute;
	left: -10px;
}
.color:before{
	content: "";
	height: 0.75em;
	width: 0.75em;
	display: inline-block;
	border: 1px solid black;
	border-radius: 25%;
	box-sizing: border-box;
	position: relative;
	left: -2px;
}
.red:before{
	background: red;
}
.orange:before{
	background: orange;
}
.yellow:before{
	background: yellow;
}
.green:before{
	background: green;
}
.blue:before{
	background: blue;
}
.purple:before{
	background: purple;
}
.white:before{
	background: white;
}
.grey:before{
	background: grey;
}
.black:before{
	background: black;
}
.shapes{
	display: inline-block;
	vertical-align: top;
}
.shapes>div{
	display: flex;
	flex-wrap: wrap;
	width: 120px;
}
.shapes img{
	margin: 5px;
}
.shapes img.true{
	background: green;
}
.shapes img.false{
	background: red;
}
.results{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
.card{
	box-sizing: border-box;
	position: relative;
	height: 200px;
	width: 200px;
	padding: 15px 5px;
	text-align: center;

}
.card img{
	max-height: 150px;
	max-width: 186px;
	height: auto;
	width: auto;
	border: 2px lightgrey ridge;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}
.card span{
	position: absolute;
	width: 190px;
	bottom: 5px;
	left: 0px;
}
