<div class="panel">
	<div class="colors">
		<div class="colorContainer {{panel.colors.red}}" (click)="toggleColor('red')"><span class="color red">Red</span></div><br>
		<div class="colorContainer {{panel.colors.orange}}" (click)="toggleColor('orange')"><span class="color orange">Orange</span></div><br>
		<div class="colorContainer {{panel.colors.yellow}}" (click)="toggleColor('yellow')"><span class="color yellow">Yellow</span></div><br>
		<div class="colorContainer {{panel.colors.green}}" (click)="toggleColor('green')"><span class="color green">Green</span></div><br>
		<div class="colorContainer {{panel.colors.blue}}" (click)="toggleColor('blue')"><span class="color blue">Blue</span></div><br>
		<div class="colorContainer {{panel.colors.maroon}}" (click)="toggleColor('maroon')"><span class="color maroon">Maroon</span></div><br>
		<div class="colorContainer {{panel.colors.white}}" (click)="toggleColor('white')"><span class="color white">White</span></div><br>
		<div class="colorContainer {{panel.colors.grey}}" (click)="toggleColor('grey')"><span class="color grey">Grey</span></div><br>
		<div class="colorContainer {{panel.colors.black}}" (click)="toggleColor('black')"><span class="color black">Black</span></div><br>
	</div>
	<div class="shapes">
		<div>
			<img class="{{panel.shapes.bi}}" (click)="toggleShape('bi')" src="/assets/icons/bi.svg">
			<img class="{{panel.shapes.border}}" (click)="toggleShape('border')" src="/assets/icons/border.svg">
			<img class="{{panel.shapes.canton}}" (click)="toggleShape('canton')" src="/assets/icons/canton.svg">
			<img class="{{panel.shapes.diagonal}}" (click)="toggleShape('diagonal')" src="/assets/icons/diagonal.svg">
			<img class="{{panel.shapes.emblem}}" (click)="toggleShape('emblem')" src="/assets/icons/emblem.svg">
			<img class="{{panel.shapes.nordic}}" (click)="toggleShape('nordic')" src="/assets/icons/nordic.svg">
			<img class="{{panel.shapes.star}}" (click)="toggleShape('star')" src="/assets/icons/star.svg">
			<img class="{{panel.shapes.triangle}}" (click)="toggleShape('triangle')" src="/assets/icons/triangle.svg">
			<img class="{{panel.shapes.trih}}" (click)="toggleShape('trih')" src="/assets/icons/trih.svg">
			<img class="{{panel.shapes.triv}}" (click)="toggleShape('triv')" src="/assets/icons/triv.svg">
		</div>
	</div>
	<div class ="fields">
		<div class="field">
			<label>Code</label>
			<input [(ngModel)]="panel.code">
		</div>
		<div class="field">
			<label>Country</label>
			<input [(ngModel)]="panel.country">
		</div>
		<div class="field">
			<label>
				Continent
				<span>(Ctrl+Click to select multiple / deselect)</span>
			</label>
			<select [(ngModel)]="panel.continent" multiple size=6>
				<option value="Africa">Africa</option>
				<option value="Asia">Asia</option>
				<option value="Europe">Europe</option>
				<option value="Oceania">Oceania</option>
				<option value="North America">North America</option>
				<option value="South America">South America</option>
			</select>
		</div>
	</div>
</div>

<div class="results">
	<div class="card" *ngFor="let card of data | filter">
	<img src="assets/flags/{{card.code}}.png">
	<br>
	<span>{{card.country}}</span>
	</div>
</div>
